<!DOCTYPE html>
<html>
    <head>
        <title>Berita Acara Sidang</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">   
        <script type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body onload="myFunction()">
        
        <div class="container-fluid shadow-sm">
            <br>
            <div class="row">
                <div id="logo" class="col-6 align-middle">
                    <img  src="{{ url_for('static', filename='logo3.png')}}" height="70" alt="Card image cap">
                </div>
                <div id="fakultas" class="col-6 align-middle">
                  <h3>Fakultas Informatika</h3>
                  <h3>Universitas Telkom</h3>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="container shadow-sm">
            <h2 style="text-align: center;">Berita Acara Sidang</h2>
            <form action="{{ url_for('index') }}" method="POST" enctype=multipart/form-data >
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th rowspan="2" >No.</th>
                        <th rowspan="2">Posisi</th>
                        <th colspan="3">Nilai<br>
                            <small>[A, AB, B, BC, C, D, E]</small>
                        </th>
                    </tr>
                    <tr>
                        <th>CLO 1</th>
                        <th>CLO 2</th>
                        <th>CLO 3</th>
                    </tr>
                </thead>
                <tbody>   
                    <tr>
                        <th>1</th>
                        <td>Pembimbing 1</td>
                        <td>
                            <select class="custom-select" name="DPb11"id="DPb11" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPb12"id="DPb12" required >
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPb13"id="DPb13" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Pembimbing 2</td>
                        <td>
                            <select class="custom-select" name="DPb21"id="DPb21" >
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPb22"id="DPb22" >
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPb23"id="DPb23" >
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th id="separate" colspan="2">Rata-rata pembimbing (Ra)</th>
                        <td>
                            <input class="Label-Index" name="LPb1" id="LPb1" value="{{LPb1}}" size="3" disabled>
                        </td>
                        <td>
                            <input class="Label-Index" name="LPb2" id="LPb2" value="{{LPb2}}" size="3" disabled>
                        </td>
                        <td>
                            <input class="Label-Index" name="LPb3" id="LPb3" value="{{LPb3}}" size="3" disabled>
                        </td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Penguji 1</td>
                        <td>
                            <select class="custom-select" name="DPg11"id="DPg11" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPg12"id="DPg12" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPg13"id="DPg13" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Penguji 2</td>
                        <td>
                            <select class="custom-select" name="DPg21"id="DPg21" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPg22"id="DPg22" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPg23"id="DPg23" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th id="separate" colspan="2">Rata-rata penguji (Rb)</th>
                        <td>
                            <input class="Label-Index" name="LPg1" id="LPg1" value="{{LPg1}}" size="3" disabled>
                        </td>
                        <td>
                            <input class="Label-Index" name="LPg2" id="LPg2" value="{{LPg2}}" size="3" disabled>
                        </td>
                        <td>
                            <input class="Label-Index" name="LPg3" id="LPg3" value="{{LPg3}}" size="3" disabled>
                        </td>
                    </tr>
                    <tr>
                        <th id="separate" colspan="2">Nilai hasil perhitungan (60%*Ra + 40%*Rb)</th>
                        <td>
                            <input class="Label-Index" name="LNP1" id="LNP1" value="{{LNP1}}" size="3" disabled>
                        </td>
                        <td>
                            <input class="Label-Index" name="LNP2" id="LNP2" value="{{LNP2}}" size="3" disabled>
                        </td>
                        <td>
                            <input class="Label-Index" name="LNP3" id="LNP3" value="{{LNP3}}" size="3" disabled>
                        </td>
                    </tr>
                    <tr>
                        <th id="separate" colspan="2">Nilai akhir</th>
                        <td>
                            <input class="Label-Index" name="LNA1" id="LNA1" value="{{LNA1}}" size="3" disabled>
                        </td>
                        <td>
                            <input class="Label-Index" name="LNA2" id="LNA2" value="{{LNA2}}" size="3" disabled>
                        </td>
                        <td>
                            <input class="Label-Index" name="LNA3" id="LNA3" value="{{LNA3}}" size="3" disabled>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-7">
                    <h4>Indeks Tugas Akhir</h4>
                    <h4>(CLO1 x 35%) + (CLO2 x 30%) + (CLO3 x 35%) = <input  id="LIA" name="LIA" value="{{LIA}}" size="3" disabled></h4>
                </div>
                <div class="col-5 align-self-center d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <button type="reset" class="btn btn-outline-primary btn-lg" id="hitung" name="hitung" value=0>Reset</button>
                            <button type="submit" class="btn btn-outline-primary btn-lg" id="hitung" name="hitung" value=1>Hitung</button>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            {% if(message=="error"): %}
                            <p>Pengisian nilai dari pembimbing/penguji belum benar</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
                
            <br><br>
        </form>
        </div>
    
    <script type="text/javascript">
        function myFunction() {
            document.getElementById('DPb11').value = '{{ DPb11 }}';
            document.getElementById('DPb12').value = '{{ DPb12 }}';
            document.getElementById('DPb13').value = '{{ DPb13 }}';
            document.getElementById('DPb21').value = '{{ DPb21 }}';
            document.getElementById('DPb22').value = '{{ DPb22 }}';
            document.getElementById('DPb23').value = '{{ DPb23 }}';

            document.getElementById('DPg11').value = '{{ DPg11 }}';
            document.getElementById('DPg12').value = '{{ DPg12 }}';
            document.getElementById('DPg13').value = '{{ DPg13 }}';
            document.getElementById('DPg21').value = '{{ DPg21 }}';
            document.getElementById('DPg22').value = '{{ DPg22 }}';
            document.getElementById('DPg23').value = '{{ DPg23 }}';
        }
        
    </script>

</body>
</html>