<!DOCTYPE html>
<html>
    <head>
        <title>Berita Acara Sidang</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">   
        <script type="text/javascript" src="{{ url_for('static', filename='script.js')}}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body onload="myFunction()">
        
        <div class="container-fluid shadow-sm">
            <br>
            <div class="row">
                <div id="logo" class="col-6 align-middle">
                    <img  src="{{ url_for('static', filename='logo3.png')}}" height="70" alt="Card image cap">
                </div>
                <div id="fakultas" class="col-6 align-middle">
                  <h3>Fakultas Informatika</h3>
                  <h3>Universitas Telkom</h3>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container shadow-sm">
            <h2 style="text-align: center;">Berita Acara Sidang</h2>
            <p class="d-flex justify-content-end">{{date}}</p><br>
            <form action="{{ url_for('index') }}" method="POST" enctype=multipart/form-data >
            <table class="table table-bordered">
                <tbody>
                    <tr class="d-flex">
                        <th class="col-2">NIM</th>
                        <td class="col-10">
                            <input type="text" class="form-control" name="NIM" id="NIM" value="{{NIM}}">
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2">Nama Mahasiswa</th>
                        <td class="col-10">
                            <input type="text" class="form-control" name="MHS" id="MHS" value="{{MHS}}">
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th class="col-2 JTA" id="Judul">Judul TA</th>
                        <td class="col-10">
                            <textarea  class="form-control" rows="2" name="JTA" id="JTA" >{{JTA}}</textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th rowspan="2" >No.</th>
                        <th rowspan="2">Posisi</th>
                        <th rowspan="2">Nama</th>
                        <th colspan="3">Nilai<br>
                            <small>[A, AB, B, BC, C, D, E]</small>
                        </th>
                    </tr>
                    <tr>
                        <th>CLO 1</th>
                        <th>CLO 2</th>
                        <th>CLO 3</th>
                    </tr>
                </thead>
                <tbody>   
                    <tr>
                        <th>1</th>
                        <td>Pembimbing 1</td>
                        <td>
                            {% if(message=="success"): %}
                            <input type="text" class="form-control no-border" name="Pb1" id="Pb1"  value="{{Pb1}}"  >
                            {% else: %}
                            <input type="text" class="form-control " name="Pb1" id="Pb1"  value="{{Pb1}}"  >
                            {% endif %}
                        </td>
                        <td>
                            <select class="custom-select" name="DPb11"id="DPb11" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPb12"id="DPb12" required >
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPb13"id="DPb13" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Pembimbing 2</td>
                        <td>
                            {% if(message=="success"): %}
                            <input type="text" class="form-control no-border" name="Pb2" id="Pb2" value="{{Pb2}}"  >
                            {% else: %}
                            <input type="text" class="form-control " name="Pb2" id="Pb2" value="{{Pb2}}"  >
                            {% endif %}                            
                        </td>
                        <td>
                            <select class="custom-select" name="DPb21"id="DPb21" >
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPb22"id="DPb22" >
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPb23"id="DPb23" >
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th id="separate" colspan="3">Rata-rata pembimbing (Ra)</th>
                        <td>
                            <label class="Label-Index" name="LPb1" id="LPb1"  size="3" >{{LPb1}}</label>
                        </td>
                        <td>
                            <label class="Label-Index" name="LPb2" id="LPb2"  size="3" >{{LPb2}}</label>
                        </td>
                        <td>
                            <label class="Label-Index" name="LPb3" id="LPb3"  size="3" >{{LPb3}}</label>
                        </td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Penguji 1</td>
                        <td>
                            {% if(message=="success"): %}
                            <input type="text" class="form-control no-border" name="Pg1" id="Pg1" value="{{Pg1}}"  >
                            {% else: %}
                            <input type="text" class="form-control " name="Pg1" id="Pg1" value="{{Pg1}}"  >
                            {% endif %}
                        </td>
                        <td>
                            <select class="custom-select" name="DPg11"id="DPg11" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPg12"id="DPg12" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPg13"id="DPg13" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Penguji 2</td>
                        <td>
                            {% if(message=="success"): %}
                            <input type="text" class="form-control no-border" name="Pg2" id="Pg2" style="text-align:center;" value="{{Pg2}}"  >
                            {% else: %}
                            <input type="text" class="form-control " name="Pg2" id="Pg2" style="text-align:center;" value="{{Pg2}}"  >
                            {% endif %}
                        </td>
                        <td>
                            <select class="custom-select" name="DPg21"id="DPg21" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPg22"id="DPg22" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                        <td>
                            <select class="custom-select" name="DPg23"id="DPg23" required>
                                <option value="" selected></option>
                                <option value="A"  >A</option>
                                <option value="AB" >AB</option>
                                <option value="B"  >B</option>
                                <option value="BC" >BC</option>
                                <option value="C"  >C</option>
                                <option value="D"  >D</option>
                                <option value="E"  >E</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th id="separate" colspan="3">Rata-rata penguji (Rb)</th>
                        <td>
                            <label class="Label-Index" name="LPg1" id="LPg1"  size="3" >{{LPg1}}</label>
                        </td>
                        <td>
                            <label class="Label-Index" name="LPg2" id="LPg2"  size="3" >{{LPg2}}</label>
                        </td>
                        <td>
                            <label class="Label-Index" name="LPg3" id="LPg3"  size="3" >{{LPg3}}</label>
                        </td>
                    </tr>
                    <tr>
                        <th id="separate" colspan="3">Nilai hasil perhitungan (60%*Ra + 40%*Rb)</th>
                        <td>
                            <label class="Label-Index" name="LNP1" id="LNP1"  size="3" >{{LNP1}}</label>
                        </td>
                        <td>
                            <label class="Label-Index" name="LNP2" id="LNP2"  size="3" >{{LNP2}}</label>
                        </td>
                        <td>
                            <label class="Label-Index" name="LNP3" id="LNP3"  size="3" >{{LNP3}}</label>
                        </td>
                    </tr>
                    <tr>
                        <th id="separate" colspan="3">Nilai akhir</th>
                        <td>
                            <label class="Label-Index" name="LNA1" id="LNA1"  size="3" >{{LNA1}}</label>
                        </td>
                        <td>
                            <label class="Label-Index" name="LNA2" id="LNA2"  size="3" >{{LNA2}}</label>
                        </td>
                        <td>
                            <label class="Label-Index" name="LNA3" id="LNA3"  size="3" >{{LNA3}}</label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br><br>
            <div class="row">
                <div class="col-7">
                    <h5>Nilai Tugas Akhir</h5>
                    <h5>(CLO1 x 35%) + (CLO2 x 30%) + (CLO3 x 35%) = <label  id="LIA" name="LIA" size="3">{{INA}}</label></h5>
                    <h5>Indeks Tugas Akhir = {{LIA}}</h5>
                </div>
                <div class="col-5 align-self-center d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            {% if message!="success" : %}
                                <button type="reset" class="btn btn-outline-primary btn-lg" id="hitung" name="hitung" value=0>Reset</button>
                            {% else : %}
                                <button type="submit" class="btn btn-outline-primary btn-lg" id="hitung" name="hitung" value=0>Reset</button>
                            {% endif %}
                            <button type="submit" class="btn btn-outline-primary btn-lg" id="hitung" name="hitung" value=1>Hitung</button>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            {% if(message=="error"): %}
                            <p>Pengisian nilai dari pembimbing/penguji belum benar</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-2">
                    <b>Catatan Revisi:</b>
                </div>
                <div class="col">
                    <textarea id="RVS" name="RVS" rows="10" cols="110">{{RVS}}</textarea>
                </div>
            </div>
            <br>
            {% if(message=="success"): %}
            <div class="d-flex justify-content-center">
                <input type="hidden" name="hitung" value="1">
                <button type="submit" class="" id="cetak" name="cetak" value="1">Cetak</button>
            </div>
            {% else: %}
            <div class="d-flex justify-content-center">
                <input type="hidden" class="" id="cetak" name="cetak" value=0>
            </div>
            {% endif %}

            <br><br><br>
            <small>Created by: Rizal and IKN</small>
            <br><br>
        </form>
        </div>
        <br>
    
    <script type="text/javascript">
        function myFunction() {
            document.getElementById('DPb11').value = '{{ DPb11 }}';
            document.getElementById('DPb12').value = '{{ DPb12 }}';
            document.getElementById('DPb13').value = '{{ DPb13 }}';
            document.getElementById('DPb21').value = '{{ DPb21 }}';
            document.getElementById('DPb22').value = '{{ DPb22 }}';
            document.getElementById('DPb23').value = '{{ DPb23 }}';

            document.getElementById('DPg11').value = '{{ DPg11 }}';
            document.getElementById('DPg12').value = '{{ DPg12 }}';
            document.getElementById('DPg13').value = '{{ DPg13 }}';
            document.getElementById('DPg21').value = '{{ DPg21 }}';
            document.getElementById('DPg22').value = '{{ DPg22 }}';
            document.getElementById('DPg23').value = '{{ DPg23 }}';
        }
        
    </script>

</body>
</html>